<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form method="post">
        <table>
            {% csrf_token %}
            <tr>
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                    <td>place</td>
                    <td><input type="text" name="place"></td>
            </tr>
             <tr>
                    <td>phone</td>
                    <td><input type="text" name="phone"></td>
            </tr>
             <tr>
                    <td>email</td>
                    <td><input type="text" name="email"></td>
            </tr>
         
             <tr>
                    <td>specialisation</td>
                    <td><input type="text" name="specialisation"></td>
            </tr>
             <tr>
                    <td>experience</td>
                    <td><input type="text" name="experience"></td>
            </tr>
             <tr>
                    <td>Username</td>
                    <td><input type="text" name="Username"></td>
            </tr>
             <tr>
                    <td>Password</td>
                    <td><input type="text" name="Password"></td>
            </tr>
             <tr><td>  <input type="submit" value="done"><br><br></td></tr>
            
                    
         

        </table>
    </form>
</body>
</html></center>

</html>
</html>