<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>COMPLAINT</th>
            <th>DATE</th>
            <th>USER</th>
            <th>REPLY</th>
            
            
        </tr>
         {% for i in val %}
        <tr>
            <td>{{i.complaint}}</td>
            <td>{{i.date}}</td>
            <td>{{i.user.name}}</td>
            {% if i.replay %}
            <td>{{i.replay}}</td>
            {% else %}
            <TD><a href="reply/{{i.id}}">reply</a></TD>
            {% endif %}
        </tr>
                {% endfor %}
    </table>
</body>
</html>