<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>COMPLAINT</th>
            <th>DATE</th>
            <th>REPLY</th>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            
            <TD><A href="#">user</a></td>
                <td><a href="#">reply</a></td>
        </tr>
    </table>
</body>
</html>