<html>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>NAME</th>
            <th>PLACE</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>SPECIALISATION</th>
            <th>EXPERIENCES</th>
           
        
        </tr>
         {% for i in val %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.place}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.email}}</td>
            <td>{{i.specialisation}}</td>
            <td>{{i.experience}}</td>
            
          
          <td>
            <a href="DeleteContractor/{{i.login.id}}">delete</a>
            <a href="EditContractor/{{i.id}}">edit</a>
        </td>
            
            

        </tr>
         {% endfor %}
         <tr colspan="5" >
            <td>
                <a href="/addcontactor">add</a>
            </td>
         </tr>
    </table>
</body>
</html>