<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
      <table>
        <tr>
            <td>complaint</td>
            <td><input type="text" name="complaint"></td>
        </tr>
        <tr>
            <td>date</td>
            <td><input type="date" name="date"</td>
         </tr>

        <tr>
            <td>reply</td>
            <td><input type="submit"></td>
        </tr>
      </table>
    </form>
</body>

</html>