<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form method="post">
        <table>
            {% csrf_token %}
            <tr>
                <td>Name</td>
                <td><input type="text" name="name" value="{{ val.name}}"></td>
            </tr>
            <tr>
                    <td>place</td>
                    <td><input type="text" name="place" value="{{val.place}}"></td>
            </tr>
             <tr>
                    <td>phone</td>
                    <td><input type="text" name="phone" value="{{val.phone}}"></td>
            </tr>
             <tr>
                    <td>email</td>
                    <td><input type="text" name="email" value="{{val.email}}"></td>
            </tr>
         
             <tr>
                    <td>specialisation</td>
                    <td><input type="text" name="specialisation" value="{{val.specialisation}}"></td>
            </tr>
             <tr>
                    <td>experience</td>
                    <td><input type="text" name="experience" value="{{val.experience}}"></td>
            </tr>
             <tr><td>  <input type="submit" value="update"><br><br></td></tr>
            
                    
         

        </table>
    </form>
</body>
</html></center>

</html>
</html>