<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>DATE</th>
            <th>USERNAME</th>
            <th>FEEDBACK</th>
            
        </tr>
        {% for i in val %}
        <tr>
            <td>{{i.date}}</td>
            <td>{{i.user.name}}</td>
            <td>{{i.feedback}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>