<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    
    
</head>
<body>
    <form>
        <br>
        <a href="/user">manage user</a><br><br>
        <a href="/contractor">manage contractor</a><br><br>
        <a href="/pothole">view detected pothole</a><br><br>
        <a href="/Feedback">feedback</a><br><br>
        <a href="/complaint">view complaint and send reply </a><br><br>
        
        <a href="/">logout</a><br>
        
</form>
</body>
</html>