<html>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>LATITUDE</th>
            <th>LONGITUDE</th>
            <th>DATE</th>
            <th></th>
        
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="#">USER</a></td>
            

        </tr>
    </table>
</body>
</html>