<html>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>LATITUDE</th>
            <th>LONGITUDE</th>
            <th>DATE</th>
            
        
        </tr>
        {% for i in val %}
        <tr>
            <td>{{i.latitude}}</td>
            <td>{{i.longitude}}</td>
            <td>{{i.date}}</td>
           
            

        </tr>
        {% endfor %}
    </table>
</body>
</html>