<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assign Work</title>
</head>
<body>
    <h2>update work</h2>

    <form method="post" action="">
        {% csrf_token %}
        
        <label for="pothole">Select Pothole:</label>
        <select name="pothole" id="pothole" required>
            {% for pothole in potholes %}
                <option value="{{ pothole.id }}">
                    lat {{ pothole.latitude }} - long {{ pothole.longitude }}
                </option><br><br>
            {% endfor %}
        </select>

       
       <br> <label for="description">Description:</label>
        <textarea name="description" id="description" required></textarea>

       <br> <label for="date">Choose Date:</label>
        <input type="date" name="date" id="date" required>

        <button type="submit">complete</button>
    </form>
</body>
</html>
