<html>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>NAME</th>
            <th>IMAGE</th>
            <th>AGE</th>
            <th>GENDER</th>
            <th>EMAIL</th>
            <th>LOCATION</th>
        <TH>PHONE</TH>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ i.name }}</td>
            <td></td>
            <td>{{i.age }}</td>
            <td>{{i.gender}}</td>
            <td>{{i.email}}</td>
            <td>{{i.location}}</td>
            <td>{{i.phone}}</td>
           <td><a href="DeleteUser/{{i.login.id}}">delete</a></td>
           
            

        </tr>
        {% endfor %}
    </table>
</body>
</html>