<html>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>NAME</th>
            <th>IMAGE</th>
            <th>AGE</th>
            <th>GENDER</th>
            <th>EMAIL</th>
            <th>LOCATION</th>
            <th>LOGIN</th>
        <TH>PHONE</TH>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <TD></TD>
            <td><a href="#">delete</a></td>
            <td><a href="#">login</a></td>
            

        </tr>
    </table>
</body>
</html>